{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Bảng tin
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Bảng tin
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary mb-2">
                <div class="card-body pb-0">
                    <div class="text-value" id="baocaoDonHang_quantity">
                        <h1>{{ dataCountVanBan.SoLuong }}</h1>
                    </div>
                    <div>Tổng số Văn bản</div>
                </div>
            </div>
        </div> <!-- Tổng số Văn bản -->

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger mb-2">
                <div class="card-body pb-0">
                    <div class="text-value" id="baocaoGopY_quantity">
                        <h1>{{ dataCountPhongBan.SoLuong }}</h1>
                    </div>
                    <div>Tổng số phòng ban</div>
                </div>
            </div>
        </div> <!-- Tổng số phòng ban -->
    </div><!-- row -->
</div>
{% endblock %}
{# End Nội dung trong block content #}

{% block customscripts %}
{% endblock %}