
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == '_list' ? 'active' }}" href="/backend/pages/dashboard">
                    <span data-feather="home"></span>
                    Bảng tin <span class="sr-only">(current)</span>
                </a>
            </li>

            <!-- #################### Menu chức năng Danh mục #################### -->
            <li class="nav-item sidebar-heading">
                <a href="#" class="nav-link">Danh mục</a>
            </li>
            <!-- Menu Phòng ban -->
            <li class="nav-item">
                <a href="#phongbanSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Phòng ban
                </a>
                <ul class="collapse" id="phongbanSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/backend/phongban/">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backend/phongban/create.php">
                            <span data-feather="plus"></span>
                            Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Phòng ban -->
            <!-- #################### End Menu chức năng Danh mục #################### -->
       
            <!-- #################### Menu chức năng Quản lý Văn bản #################### -->
            <li class="nav-item sidebar-heading">
                <a href="#" class="nav-link">Quản lý Văn bản</a>
            </li>
            <!-- Menu Quản lý Văn bản -->
            <li class="nav-item">
                <a href="#vanbanSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span> Quản lý Văn bản
                </a>
                <ul class="collapse" id="vanbanSubMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/backend/vanban/">
                            <span data-feather="list"></span>
                            Danh sách
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Menu Quản lý Văn bản -->
            <!-- #################### End Menu chức năng Quản lý Văn bản #################### -->
        </ul>
    </div>
</nav>